<div class="ib-main-view" fxLayout="row">
    <div fxLayout="column" class="ib-container" fxLayoutAlign="start stretch" fxFlex>
        <div>
            Purchase Items Manager
        </div>
        <div fxLayout="row">
            <div class="ib-container" fxFlex>
                <app-header></app-header>
            </div>
        </div>

        <div
            class="ib-container" fxLayout="row" fxLayoutAlign="start stretch" fxFlex>
            <div fxLayout="column">
                <div class="ib-container" fxFlex>
                    <app-purchased-items-list></app-purchased-items-list>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex>
                <div class="ib-container" fxFlex>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
